flask
gunicorn
ultralytics>=8.2.0
opencv-contrib-python-headless==4.8.1.78
pillow
requests
flask-cors

torch==2.8.0+cpu
torchvision==0.23.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
# Jika ingin menggunakan Torch dengan dukungan CUDA, gunakan baris berikut sebagai gantinya:
# torch==2.2.1+cu121



