flask
gunicorn
ultralytics>=8.2.0

# OpenCV aman untuk server / cloud (tanpa GUI)
opencv-contrib-python-headless==4.8.1.78

pillow
numpy==2.1.3
requests
flask-cors

# Torch CPU for Python 3.12/3.13
torch==2.8.0+cpu
torchvision==0.23.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
# Jika ingin menggunakan Torch dengan dukungan CUDA, gunakan baris berikut sebagai gantinya:
# torch==2.2.1+cu121




